# COGS 108 - Data Checkpoint

# Names

- Alex Cheng
- Samarth Arora
- Terence Ting
- Thomas Kolinek
- Yicong Guo

<a id='research_question'></a>
# Research Question

Is there a relationship between the popularity of one’s major and the employment rate in that particular field of work?

# Dataset(s)

Name: grad-students.csv  
Link: https://www.kaggle.com/fivethirtyeight/fivethirtyeight-college-majors-dataset?select=grad-students.csv  
Observations: 173  
This dataset contains information regarding the count of graduate students (2010-2012, 25+ y/o) broken down by major and whether or not they are employed. It also counts the total number of non-graduate students broken down by major and whether or not they are employed.  

Name: recent-grads.csv  
Link: https://www.kaggle.com/fivethirtyeight/fivethirtyeight-college-majors-dataset?select=recent-grads.csv  
Observations: 173  
This dataset contains information regarding the count of graduate students (2010-2012, <28 y/o) broken down by major, the count broken down by gender, and whether or not they are employed. It also displays the count of how many students’ employment require college degrees and the count of students working in service jobs.  

Name: all-ages.csv  
Link: https://www.kaggle.com/fivethirtyeight/fivethirtyeight-college-majors-dataset?select=all-ages.csv  
Observations: 173  
This dataset contains information regarding the count of all students (2010-2012, no grad degree) broken down by major category and whether or not they are employed. It compares the total count of students, their employment status and whether or not they work full time.  

By combining grad-students.csv and recent-grads.csv, we can compare the employment rates of students broken down by major category and relate that to how many students are working in jobs relating to their major versus how many are working outside their major. This can then be related to all-ages.csv as it displays the total count of those working in a particular field, regardless of attending graduate school.

# Setup

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

all_ages = pd.read_csv("https://raw.githubusercontent.com/COGS108/group048_wi21/main/all-ages.csv?token=AOGUFGDSBYLUWWVBHGBSXVLAGBKEC")
recent_grads = pd.read_csv("https://raw.githubusercontent.com/COGS108/group048_wi21/main/recent-grads.csv?token=AOGUFGBSAQ3RLRG3OLGVUR3AGBKFU")
grad_students = pd.read_csv("https://raw.githubusercontent.com/COGS108/group048_wi21/main/grad-students.csv?token=AOGUFGHMH6KXDOJXGLQWXADAGBKGQ")

# Data Cleaning

Describe your data cleaning steps here.

In [10]:
#Here we remove some of the columns from recent_grads that do not pertain to our question, including:
#ShareWomen, Median, P25th, and P75th
trim_recent_grads = recent_grads.drop(['ShareWomen', 'Median', 'P25th', 'P75th'], axis=1)

In [11]:
#Here we remove some of the columns from grad_students that are not relevant to our future analysis.
#Grad_median, Grad_P25, Grad_P75, Nongrad_median, Nongrad_P25, and Nongrad_P75
trim_grad_students = grad_students.drop(['Grad_median', 'Grad_P25', 'Grad_P75', 'Nongrad_median', 'Nongrad_P25', 'Nongrad_P75'], axis=1)

In [7]:
trim_recent_grads

,Rank,Major_code,Major,Total,Men,Women,Major_category,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,36,1976,1849,270,1207,37,0.018381,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,7,640,556,170,388,85,0.117241,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,3,648,558,133,340,16,0.024096,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,16,758,1069,150,692,40,0.050125,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,289,25694,23170,5180,16697,1672,0.061098,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,47,6259,5043,2190,3602,304,0.046320,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,7,2125,1848,572,1211,148,0.065112,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,13,2101,1724,648,1293,368,0.149048,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,21,3777,3154,965,2738,214,0.053621,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,2,742,593,237,410,87,0.104946,288,338,192

In [8]:
trim_grad_students

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Grad_share,Grad_premium
0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,9173,200,7098,6511,681,0.087543,86062,73607,62435,3928,0.050661,0.096320,0.153846
1,6004,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,53864,882,40492,29553,2482,0.057756,461977,347166,250596,25484,0.068386,0.104420,0.250000
2,6211,HOSPITALITY MANAGEMENT,Business,24417,437,18368,14784,1465,0.073867,179335,145597,113579,7409,0.048423,0.119837,0.300000
3,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,5411,72,3590,2701,316,0.080901,37575,29738,23249,1661,0.052900,0.125878,0.129808
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,53819,43163,34231,3389,0.072800,0.144753,0.096154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,51812,724,38468,28808,1420,0.035600,16781,12377,8502,835,0.063200,0.755354,0.250000
169,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,22716,355,16612,12022,782,0.044958,6519,4368,3033,357,0.075556,0.777014,0.521739
170,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,Health,114971,1766,78132,58825,1732,0.021687,26320,16221,12185,1012,0.058725,0.813718,1.647059
171,2303,SCHOOL STUDENT COUNSELING,Education,19841,260,11313,8130,613,0.051400,2232,1328,980,169,0.112892,0.898881,0.333333
172,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,54159,841,34142,26850,582,0.016761,4003,3079,2434,0,0.000000,0.931175,0.120690

In [12]:
all_ages

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0
...,...,...,...,...,...,...,...,...,...,...,...
168,6211,HOSPITALITY MANAGEMENT,Business,200854,163393,122499,8862,0.051447,49000,33000,70000.0
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673,134478,118249,6186,0.043977,72000,50000,100000.0
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753,77471,61603,4308,0.052679,53000,36000,83000.0
171,6402,HISTORY,Humanities & Liberal Arts,712509,478416,354163,33725,0.065851,50000,35000,80000.0
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746,11887,8204,943,0.073500,50000,39000,81000.0

# Project Proposal (updated)

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/28  |  5 PM | Think about possible research topics  | Come to an agreement on a proposal | 
| 2/4  |  5 PM |  Prepare an idea of how to approach the question | Discuss with the team how to best approach the research question and come to a consensus | 
| 2/11  | 5 PM  | Search for data and wrangle relevant data | Chart compilation; Possibly search for other datasets; Prepare for Checkpoint #1 |
| 2/18  | 5 PM  | Analyze the data and charts; look for more relevant data | Analyze the data and discuss how to best present it |
| 2/25  | 5 PM  | Prepare idea proposals for graphs | Make Graphs and look over interesting relationships; Prepare for Checkpoint #2 |
| 3/4  | 5 PM  | Film presentation scenes | Compile final thoughts on video |
| 3/11  | 5 PM  | Check over everything | Turn in Final Project & Group Project Surveys |